<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title: <%= title %></title>
  </head>
  <body>
    <h1>
      Choose your second stock!
    </h1>
    <!-- Loop through and display the stocks, minus the previously chosen -->
    <% for(var i = 0; i < stock.length; i++) {
        if (i != remove) { %>
      <h2>
        <%= stock[i].name %>
      </h2>
      <ul>
        <% for (var j = 0; j < stock[i].monthly.length; j++) { %>
          <li> <%= stock[i].monthly[j] %> </li>
        <% } %>
      </ul>
      <p>
        <a href="pair/<%= remove %>-<%= i %>" >Select <%= stock[i].name %> for
          your portfolio.
        </a>
      </p>
    <% }} %>

  </body>
</html>
