<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title: <%= title %></title>
  </head>
  <body>
    <p>
      You must invest <%= strategy[0] %>% of your money in
      <%= stockA.name %> and invest <%= strategy[1] %>% of your money in
      <%= stockB.name %> in order to earn a return of at least $<%= exp %>.
      This investment strategy bears a risk index of <%= strategy[2] %>.
    </p>
  </body>
</html>
